@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;800;900&family=Work+Sans:wght@100;200;400;500;600;700;800;900&display=swap');


:root {
    --main-color: #121312;
    --font-family: "Work Sans";

}

body {
    font-family: "Work Sans";
}

.container {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}


/*header*/
.mobile-menu-button {
    background: none;
    border: none;
}

.blog-logo a span {
    font-weight: normal;
    font-size: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #eff0f1;
    align-items: center;
    height: 135px;
    box-sizing: border-box;
    padding: 0 15px;
}

.content-container {
    padding: 0 15px;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav {
    display: none;
    height: 42px;
}

a {
    text-decoration: none;
    color: #3f3f3f;
    transition: all 0.3s ease-in-out;
}

nav ul {
    list-style-type: none;
}

header nav ul li a {
    margin: 10px 20px;
    color: #3f3f3f;
    font-weight: normal;
    font-size: 0.875rem;
}

header nav ul li {

    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

header .search-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    width: 21px;
    height: 22px;
    border-radius: 5px;
}

header .search-trigger svg {
    width: 16px;
    height: 16px;
}

header .search-trigger svg path {
    color: #3f3f3f;
    fill: #3f3f3f;
}

header .search-trigger:hover svg path,
header .bookmark-trigger:hover i {
    color: #0069FF;
    fill: #0069FF;
}

header ul a:hover {
    color: #0069FF;
    border-bottom: 1px solid #0069FF;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}

.btn:before {
    content: '';
    background: #eff0f1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    z-index: -1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

header ul a {
    border-bottom: 1px solid transparent;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

header .bookmark-trigger {
    padding: 10px 10px;
    width: 21px;
    height: 22px;
    border-radius: 5px;
    font-size: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navigation {
    margin-right: 10px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn.btn-small {
    padding: 5px 10px;
    font-size: 0.875rem;
}

.btn {
    font-weight: normal;
    outline: 0;
    border-radius: 5px;
    border: 3px solid #eff0f1;
    position: relative;
    z-index: 2;
    opacity: 1;
    overflow: hidden;
    background: #fff;
    display: inline-block;
    color: #212529;
}

.btn :hover {
    color: #0069FF;
}


.full-screen-container {
    height: calc(100vh - 140px);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-bottom: 40px;
}

.full-screen-container h1 {
    font-size: 160px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}

.full-screen-container h4 {
    font-size: 24px;
    font-weight: 400;
    opacity: 60%;
    margin-bottom: 80px;
}

/*main*/
main {
    margin-top: 180px;
}

.gallery-title {
    font-size: 90px;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

.carousel-gallery-wrap {
    display: flex;
    justify-content: space-between;
    background: none;
}

.city-name {
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    color: inherit;
    background: none;
    border: none;
    margin-top: 15px;
    padding: 0;
}

.line-gallery {
    border: 1px solid black;
    opacity: 100%;
}

.gallery-row {
    margin-top: 50px;
}

.carousel-gallery-right {
    width: 50%;
    display: flex;
}

.carousel-gallery-right .city {
    width: 100%;
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.carousel-gallery-right img {
    width: 100%;
}

.city > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    margin-right: 50px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
}

.carousel-gallery-wrap a {
    width: 30%;
    display: block;
}

.name-monument {
    font-size: 24px;
    font-weight: 800;
}

.avtor {
    font-size: 14px;
    font-weight: 400;
    opacity: 40%;
}

.arrow {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.city::-webkit-scrollbar {
    display: none;
}

/*article-1*/
article {
    margin-top: 180px;
}

.article-name {
    font-size: 90px;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

.article-info {
    width: 50%;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 300;
}

.light-line {
    border: 1px solid black;
    opacity: 100%;
    margin-top: 90px;
}

/*article-2*/
.article-2 {
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
}

.event-1 {
    font-size: 270px;
    font-weight: 800;
    margin: 0;
    display: flex;
    justify-content: space-between;

}

.event-line {
    border: 1px solid black;
    opacity: 100%;
}

.about-event {
    font-size: 24px;
    font-weight: 300;
    margin-left: 30%;

}

.event-info {
    font-size: 24px;
    font-weight: 400;
}

/*Blog*/
.blog-name {
    margin-top: 180px;
    font-size: 90px;
    font-weight: 800;
    text-transform: uppercase;
}

.blog-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.blog-box {
    width: 30%;
    background-color: white;
    border-bottom: 2px solid black;
    display: block;
}

.blog-img {
    width: 100%;
    height: auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-text span {
    color: #999999;
    font-size: 14px;
}

.blog-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 800;
    color: black;
}

.blog-title:hover {
    color: green;
    transition: all ease-in-out;
}

.blog-text p {
    color: #121312;
    font-size: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.blog-text a {
    color: #121312;
}

.blog-text a:hover {
    color: green;
    transition: all ease-in-out;
}

/*about my project*/
.about-myproject {
    margin-top: 180px;
}

.about-project {
    font-size: 90px;
    font-weight: 400;
    margin: 0;
}

.about-proj {
    margin-left: 90px;
    font-size: 24px;
    font-weight: 300;
    color: black;
}

/*footer*/
footer {
    margin-top: 290px;
    padding: 0 15px;
    border-top: 3px solid #eff0f1;
}

.footer-p {
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}

.footer-right {
    display: flex;
    align-items: center;
}

.footer-right img {
    margin-left: 20px;
}


/*@media (max-width: 1250px) {
    .blog-box {
        width: 300px;
    }
}

@media (max-width: 1100px) {
    .blog-box {
        width: 70%;
    }
}

@media (max-width: 550px) {
    .blog-box {
        margin: 20px 10px;
        width: 100%;
    }
}*/

/*mobile Nav*/
@media only screen and(max-width: 800px) {
    .nav_links {
        display: none;
    }

    .menu {
        display: inherit;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #ececec;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.overlay_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 24px;
    display: block;
    transition: all 0.5s ease-in-out;
}

.overlay a:hover .overlay a:focus {
    color: green;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-width: 450px) {
    .overlay {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 15px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {


    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .mobile-menu-button {
        display: none;
    }

    .nav {
        display: flex;
    }

    .navigation {
        border-right: 1px solid #eff0f1;
        margin-right: 10px;
    }
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


/*Screen Size 500px and Up*/

@media (max-width: 992px ) {
    .full-screen-container h1 {
        font-size: 80px;
    }

    .full-screen-container h4 {
        font-size: 24px;
    }

    .article-2 {
        flex-direction:column ;;
    }

    .article-name {
        font-size: 40px;
    }

    .article-info {
        font-size: 14px;
    }

    .event-1 {
        font-size: 40px;
    }

    .event-info {
        font-size: 14px;
    }

    .about-event {
        font-size: 14px;
    }
.carousel-gallery-wrap{
    flex-direction:column ;
}
    .blog-name {
        font-size: 40px;
    }

    .blog-container {

    }

    .about-project {
        font-size: 40px;
    }

    .about-proj {
        font-size: 14px;
        margin-left: 40px;
    }

    footer {
        margin-top: 100px;
    }

    .footer-p {
        font-size: 14px;
        height: 80px
    }
}

